<mat-toolbar color="default">
        <span class="fill-remaining-space">Datacenter User Management</span>
      </mat-toolbar>
     
    
      <div  fxLayout="row" fxLayoutAlign="space-between top" >

       <div fxFlex='50'>
            <mat-card class="example-card">
    
      <mat-card-header>
          <div mat-card-avatar ></div>
          <mat-card-title>Datacenter User Add/Update</mat-card-title>
        </mat-card-header>
        <mat-card-content>
    
      <div class="container" novalidate> 
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
    
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email"  />
              </mat-form-field>
              
                <mat-form-field>
                    <mat-select placeholder="Role/Actor" formControlName="role">
                      <mat-option *ngFor="let role of roles" [value]="role.value">
                        {{role.viewValue}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>

              <app-datacenter-select>

                </app-datacenter-select>
               <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
          </div>
      
        </form>
      </div>
    
    </mat-card-content>
    </mat-card>
        

</div>
    <div fxFlex='50'>
    <app-user-list></app-user-list>
    </div>
    
    </div>
      
    