<mat-card >
  <mat-card-header>
    <div mat-card-avatar ></div>
    <mat-card-title>Edge Configuration List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
<div class="container" *ngIf="!post; else forminfo" novalidate> 
  <mat-form-field class="filter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="DCA Type">
      <th mat-header-cell *matHeaderCellDef> DCA Type </th>
      <td mat-cell *matCellDef="let element"> {{element.group}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Ability Model">
      <th mat-header-cell *matHeaderCellDef> Ability Model </th>
      <td mat-cell *matCellDef="let element"> {{element.company}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Ability Type">
      <th mat-header-cell *matHeaderCellDef> Ability Type </th>
      <td mat-cell *matCellDef="let element"> {{element.department}} </td>
    </ng-container>
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>
          Edit
        </th>
        <td mat-cell *matCellDef="let element" >
            <button
            type="button"
            mat-icon-button
            (click)="handleEdit(element)"
            title="Edit Tenant">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>
            Delete
          </th>
          <td mat-cell *matCellDef="let element">
              <button (click)="openDialog(element)"
              type="button"
              mat-icon-button
              title="Delete Tenant">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>    
           

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
  </table>
  
  
  


</div>
  </mat-card-content>

</mat-card>
