<form [formGroup]="formGroup">
<div class="row">
        <mat-form-field class="form-element basic-container">
          <mat-select formControlName="regionId" placeholder="Region" (selectionChange)="onRegionSelect($event.value)">
            <mat-option *ngFor="let region of regionList$ | async" [value]="region.regionId">
                {{region.regionName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-element basic-container">
            <mat-select formControlName="countryId" placeholder="Country" (selectionChange)="onCountrySelect($event.value)">
              <mat-option *ngFor="let country of countryList$ | async" [value]="country.countryId">
                  {{country.countryName}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>   
    <div class="row">
        <mat-form-field class="form-element basic-container">
            <mat-select formControlName="stateId" placeholder="State" (selectionChange)="onStateSelect($event.value)" >
              <mat-option *ngFor="let state of stateList$ | async" [value]="state.stateId">
                  {{state.stateName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="form-element basic-container">
              <mat-select formControlName="cityId" placeholder="City" (selectionChange)="onCitySelect($event.value)" >
                <mat-option *ngFor="let city of cityList$ | async" [value]="city.cityId">
                    {{city.cityName}}
                </mat-option>
              </mat-select>
            </mat-form-field> 
          </div>                             
</form> 
